.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.vid-bg {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.content {
  text-align: center;
  position: absolute;
}

.content h2 {
  color: #ebf4fb;
  font-size: 80px;
  margin: 0;
  text-shadow: -1px 1px 0 #5d2c08, 1px 1px 0 #5d2c08, 1px -1px 0 #5d2c08,
    -1px -1px 0 #5d2c08;
}

.content h2 span {
  color: #c48559;
  text-shadow: -1px 1px 0 #ebf4fb, 1px 1px 0 #ebf4fb, 1px -1px 0 #ebf4fb,
    -1px -1px 0 #ebf4fb;
  font-weight: bold;
  font-size: 125px;
}

.content p {
  color: #ebf4fb;
  font-size: 30px;
  margin: 0;
  font-weight: bold;
  text-shadow: -1px 1px 0 #5d2c08, 1px 1px 0 #5d2c08, 1px -1px 0 #5d2c08,
    -1px -1px 0 #5d2c08;
}

.home-btn {
  border: 0;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 10px;
  top: 125%;
  left: 40%;
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
  background-color: #c48559;
  color: #ebf4fb;
}

.nav-transparent {
  background-color: #2a5d51;
}

.nav-link {
  color: white;
}

.navbar-brand {
  color: #c48559;
}

.btn-logout {
  background-color: #c48559;
  color: white;
}
.nav-bc {
  background-color: #355230;
}

.logout-bc {
  background-color: #c48559;
  color: white;
}

.main-bc {
  background-color: #edede9;
}

.navbar-brand {
  color: #c48559;
}

.nav-transparent {
  background-color: #2a5d51;
}

.nav-link {
  color: white;
}

.navbar-brand {
  color: #c48559;
}

.btn-logout {
  background-color: #c48559;
  color: white;
}

.btn-delete {
  background-color: #c48559;
  color: white;
}

.btn-delete:hover {
  background-color: red;
  color: white;
}

.signup-form-text {
  color: #355230;
  font-weight: bold;
  font-size: 25px;
}

.signup-title-text {
  color: #5d2c08;
  font-weight: bold;
  font-size: 50px;
}

.page-not-found-text {
  color: #5d2c08;
  background-color: white;
  position: fixed;
  top: 30%;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.park-details-activities {
  font-weight: bold;
  color: #5d2c08;
}
