.pages-list {
  display: inline;
}

.center-text {
  text-align: center;
}

.title-line {
  border-bottom: solid 2px #c48559;
  color: #5d2c08;
  padding-top: 25px;
  position: absolute;
}

.search-btn {
  background-color: #5d2c08;
  color: white;
}

.search-btn:hover {
  background-color: #64b758;
}

.search-text {
  color: white;
}
.dkg-btn-color:hover {
  background-color: #64b758;
}

.dkg-btn-color {
  border: #c48559 1px solid;
  color: #c48559;
}

.reset-text:hover {
  color: black;
}

.card-shadow {
  box-shadow: #c48559;
}

.brown-text {
  color: #5d2c08;
  background-color: transparent;
}

.bottom-box {
  position: absolute;
  bottom: 10px;
}

.card-title-underline {
  border-bottom: solid 2px #c48559;
}
/*
.container-bkg-green {
  /* background-color: #b6ecac; */
/* background-image: url("https://img.freepik.com/premium-vector/green-branches-with-leaves-border_176503-334.jpg?w=2000"); */
/* background-size: 700px; */
/* background-repeat: repeat; */
/* background-position: 0% 0%; */
/* } */

.title-background {
  background-image: url("https://media.istockphoto.com/id/1128006336/vector/seamless-summer-forest.jpg?s=612x612&w=0&k=20&c=43c4GBUgSqoj3HkkEcjaIDqKwMEUeY04ynLVFP8OxVM=");
  vertical-align: top;
  padding-top: 150px;
  padding-bottom: 75px;
  position: relative;
}

.pagination-color:hover {
  background-color: #64b758;
}

.pages-bkg {
  background-color: #355230;
  color: white;
}

.pages-bkg:hover {
  background-color: #64b758;
  color: black;
}

/* potential background image urls for list page
"https://img.freepik.com/premium-vector/vertical-seamless-border-with-green-leaves-botanical-flower-illustration-wedding-design_555489-628.jpg?w=900"
https://img.freepik.com/premium-vector/green-branches-with-leaves-border_176503-334.jpg?w=2000 */

/* potential background images for title block parks list page:
https://png.pngtree.com/thumb_back/fh260/back_our/20200630/ourmid/pngtree-green-small-fresh-forest-banner-image_340877.jpg */
